.display {
    background-color: white;
}
  
.header {
    background-color: rgb(2, 2, 49);
    padding: 12px;
    color: white;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
  
.personalInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
  
.personalDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
  
h3 {
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}
  
p {
    margin-bottom: 5px;
}
  
.sec {
    color: black;
    display: flex;
    justify-content: space-between;
    flex: 1;
}
  
.fieldName,.fieldDate {
    font-weight: bold;
}
  
.body{
    padding: 20px;
}