.display {
    background-color: black;
}
  
.header {
    background-color: rgb(7, 7, 8);
    padding: 12px;
    color: white;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
  
.personalInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
  
.personalDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
  
