input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    flex: 1;
}

.heading {
    color: black;
    display: flex;
    justify-content: top;
    align-items: center;
    gap: 4px;
}