input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    flex: 1;
    padding: 5px;
    margin-left: 10px;
}

.heading {
    color: black;
    display: flex;
    justify-content: top;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
}